        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="container mt-5 pl-5">
                    {{#each profile}}
                    <h2 class="text-center" style="color: rgb(18, 14, 238);"><strong>Profile</strong> </h2>
                    <img src="/tutor-images/{{this._id}}.jpg" draggable="false" style=" border-radius: 50%;
          width: 150px;height:150px;float: right;">
                    <div class="tutor-profile" style=" color: rgba(23, 36, 211, 0.836);">
                        <label><h4><strong>Name:</strong></h4><h4>{{this.Name}}</h4> </label> <br>
                        <label><h4><strong>Class:</strong></h4><h4>{{this.Class}}</h4>  </label> <br>
                        <label><h4><strong>Subject:</strong></h4> <h4>{{this.Subject}}</h4> </label> <br>
                        <label><h4><strong>Address:</strong></h4><h4> {{this.Address}} </h4></label> <br>
                        <label><h4><strong>pincode:</strong></h4><h4> {{this.Pincode}}</h4> </label> <br>
                        <label><h4><strong>Mobile No:</strong></h4><h4> {{this.MobileNo}} </h4></label> <br>
                        <label><h4><strong>Email address:</strong></h4><h4> {{this.Email}}</h4> </label> <br>
                    </div>
                    <a href="/tutor_editprofile?id={{this._id}}" class="btn btn-primary edit-button">
                        <strong>Edit Profile</strong> </a>
                    {{/each}}
                </div>
            </div>
        </div>
