        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="container mt-5 pl-5">
                    <h2 class="text-center" style="color: rgb(18, 14, 238);"><strong>Edit student details</strong></h2>
                    <form action="/tutor_editstudent/{{student._id}}" id="edit-studentform" method="POST"
                        enctype="multipart/form-data">
                        {{#if photoError}}
                        <div class="bar pdferror">
                            <i class="ico">&#9747;</i> {{photoError}}
                        </div>
                        {{/if}}
                        <div class="form-group">
                            <label style=" color: rgba(23, 36, 211, 0.836);"><h4><strong> Name:</strong></h4></label>
                            <input type="text" class="form-control" name="Name" value="{{student.Name}}" required>
                        </div>
                        <div class="form-group">
                            <label style=" color: rgba(23, 36, 211, 0.836);"><h4><strong> Gender: </strong></h4></label>
                            <input type="text" class="form-control" name="Gender" value="{{student.Gender}}" required>
                        </div>
                        <div class="form-group">
                            <label style=" color: rgba(23, 36, 211, 0.836);"><h4><strong> Roll no: </strong></h4></label>
                            <input type="number" class="form-control" name="RollNo" value="{{student.RollNo}}" required>
                        </div>
                        <div class="form-group">
                            <label style=" color: rgba(23, 36, 211, 0.836);"><h4><strong> Mob: </strong></h4></label>
                            <input type="number" class="form-control" name="Mob" value="{{student.Mob}}" required>
                        </div>
                        <div class="form-group">
                            <label style=" color: rgba(23, 36, 211, 0.836);"><h4><strong> Email:</strong></h4></label>
                            <input type="email" class="form-control" name="Email" value="{{student.Email}}" required>
                        </div>
                        <div class="form-group">
                            <label style=" color: rgba(23, 36, 211, 0.836);"><h4><strong> Address: </strong></h4></label>
                            <input type="text" class="form-control" name="Address" value="{{student.Address}}" required>
                            <input type="hidden" name="id" value="{{student._id}}">
                        </div>
                        <div class="form-group">
                            <label style=" color: rgba(23, 36, 211, 0.836);"><h4><strong>Change image: </strong></h4> </label>
                            <img src="/students-images/{{student._id}}.jpg" alt="" style="width: 70px;height:70px;"
                                id="imgView">
                            <input type="file" class="form-control" name="Image" onchange="viewImage(event)">
                        </div>
                        <div class="buttons  mt-3 " style="padding-bottom: 20px;">
                            <button type="submit" class="btn btn-success rounded-pill btn-xl"><strong> Save changes
                                </strong></button>
                            <a href="/tutor_students" class="btn btn-danger rounded-pill btn-xl"
                                style="float: right;"><strong> Cancel</strong></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
<script>
    const form = document.querySelector('#edit-studentform');
    var delayInMilliseconds = 1000
    form.addEventListener('submit', event => {
        event.preventDefault();
        swal({
            title: 'Confirmation',
            text: 'Are you sure?',
            buttons: {
                cancel: true,
                Confirm: 'Submit'
            }
        }).then(val => {
            if (val) {
                swal({
                    title: 'Student profile updated',
                    icon: 'success',
                    buttons: { ok: false }
                })
                setTimeout(function () {
                    form.submit()
                    console.log(form)
                }, delayInMilliseconds)
            }
        })
    })
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }
</script>