<section>
    <div class="main">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="container  mt-3">
                    <h2 class="text-center" style="color: rgb(18, 14, 238);"><strong> Students Details </strong></h2>
                    <a href="/tutor_addstudent" class="btn btn-danger rounded-pill" style="float: right;"><strong> Add
                            Student </strong> </a>
                    <div class="table-responsive">
                        <table class="table" style="border-top: 5px;">
                            <thead style="color: rgb(11, 2, 134);background-color: rgb(69, 182, 182);">
                                <tr>
                                    <th scope="col">Roll No</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody style="background-color: rgb(131, 224, 131);">
                                {{#each students}}
                                <tr>
                                    <td>{{this.RollNo}}</td>
                                    <td><a href="/tutor_validateStudAssignments?id={{this._id}}&Name={{this.Name}}&RollNo={{this.RollNo}}&Mob={{this.Mob}}&Email={{this.Email}}"
                                            style="text-decoration: none;">{{this.Name}} </a></td>
                                    <td><a href="/tutor_editstudent?id={{this._id}}" style="color: black;">
                                            <i class="fas fa-edit"></i></a> <a href="/delete_student/{{this._id}}"
                                            onclick="confirmation(event)" style="color: black;"><i
                                                class="fas fa-trash-alt" style="margin-left: 20px;"></i></a></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function confirmation(ev) {
        ev.preventDefault();
        var delayInMilliseconds = 1000
        var link = ev.currentTarget.getAttribute('href')
        // console.log(link)
        swal({
            title: 'Confirmation',
            text: 'Are you sure?',
            icon: 'warning',
            buttons: true,
            dangerMode: true
        }).then((val) => {
            if (val) {
                swal({
                    title: 'Student removed',
                    icon: 'success',
                    buttons: { ok: false }
                })
                setTimeout(function () {
                    window.location.href = link
                }, delayInMilliseconds)
            }
        })
    }
</script>