<section>
  <div class="main">
    {{#if status}}
    <div class="card bg-success mt-3">
      <div class="card-body text-center ">
        <p class="card-text" style="color:white;font-weight: bold">Attendance Today : Present</p>
      </div>
    </div>
    {{else}}
    <div class="card bg-danger mt-3">
      <div class="card-body text-center">
        <p class="card-text" style="color: white;font-weight: bold;">Attendance Today : Absent</p>
      </div>
    </div>
    {{/if}}
    <img src="../images/background.jpg" draggable="false" style="width:100%">
    <div class="row">
      <div class="col-md-10 col-sm-10 col-xs-10 content-card">
        <div class="notice-card card-information">
          <div class="content">
            <div class="main-cat">Announcements</div>
            {{#each announcements}}
            <p class="description">
              * Post date : {{this.Date}}
              * {{this.Message}}.<a href="/student/student_announceDetails/{{this._id}}" style="color: blue;">Know
                more</a>
              <br>
            </p>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-sm-10 col-xs-10 content-card">
        <div class="notice-card card-information">
          <div class="content">
            <div class="main-cat">Events</div>
            {{#each events}}
            <p class="description">
              * {{this.Event}} on {{this.Date}} conducted by {{this.Coordinator}}.<a
                href="/student/student_eventDetails/{{this._id}}" style="color: blue;">Know more</a>
            </p>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

