<section>
    <div class="main">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="container  mt-3">
                    <h2 class="text-center" style="color: rgb(18, 14, 238);padding-bottom: 15px;"><strong> Assignments </strong></h2>
                    {{#if pdfError}}
                            <div class="bar pdferror">
                                <i class="ico">&#9747;</i> {{pdfError}}
                            </div>
                    {{/if}} 
                    <h1>{{assignments.studentId}}</h1>
                <table class="table" width="100%" style="border-top: 5px;text-align: center;">
                    <col style="width:35%">
	                <col style="width:35%">
	                <col style="width:20%">
                    <col style="width:10%">
                    <thead style="color: rgb(11, 2, 134);background-color: rgb(69, 182, 182);">
                        <tr>
                            <th scope="col">Topic</th>
                            <th scope="col">File</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: rgb(131, 224, 131);">
                      {{#each assignments}}
                        <tr>
                            <td >{{this.Topic}}</td>
                            <td > <a href='/assignments/{{this._id}}.pdf' type='application/pdf'> {{this.Topic}}.pdf</a></td>
                            <td > 
                                
                            <a href="/studentAssignments/{{this._id}}.pdf"   type='application/pdf'
                             class="btn btn-info rounded-pill" style="color: rgb(240, 236, 236);">Open</a> 
                    
                               <form id="studentSubmit-assignment" action="/student/student_submitAssignment/{{this._id}}" method="post" enctype="multipart/form-data"> 
                               <div class="fileUpload btn btn-danger">
                               <span>Find</span>
                               <input type="file"  name="Assignment" id="Assignment" class="upload" />
                              </div>
                              <button class="btn btn-success">Upload</button>
                              </form>
                            </td>
                        </tr>
                     {{/each}}
                    </tbody>
                </table> 
                </div>
            </div>
        </div>
    </div>
</section>

<script>
const form =  document.querySelector('#studentSubmit-assignment');
    var delayTime=1000
   form.addEventListener('submit',event=>{
       event.preventDefault();
               swal({
                   title:'Assignment Submitted',
                   icon:'success',
                   buttons:{ok:false}
               })
               setTimeout(function(){
             form.submit()
               },delayTime)     
           }
   )
   </script>