        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="container mt-5 pl-5">
                    {{#if profile}}
                    <h2 class="text-center" style="color: rgb(18, 14, 238);"><strong>Profile</strong> </h2>
                    <img src="/students-images/{{profile._id}}.jpg" alt="" style=" border-radius: 50%;
          width: 150px;height:150px;float: right;" draggable="false">
                    <div class="student-profile" style=" color: rgba(23, 36, 211, 0.836);padding-bottom: 100px;">
                        <label><h4><strong>Name:</strong></h4> <h4> {{profile.Name}}</h4></label> <br>
                        <label><h4><strong>Roll no:</strong></h4><h4>{{profile.RollNo}} </h4> </label> <br>
                        <label><h4><strong>Mobile no:</strong></h4><h4>{{profile.Mob}} </h4> </label> <br>
                        <label><h4><strong>Email address:</strong></h4><h4>{{profile.Email}}</h4>  </label> <br>
                        <label><h4><strong>Address:</strong></h4><h4>{{profile.Address}} </label> <br>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>