<section>
    <div class="main">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="container mt-3 ">
                    <h2 class="text-center" style="color: rgb(18, 14, 238);padding-bottom: 20px;"><strong>Notes</strong>
                    </h2>
                    <div class="table-responsive">
                        <table class="table" width="100%" style="border-top: 5px;text-align: center;">
                            <col style="width:10%">
                            <col style="width:20%">
                            <col style="width:10%">
                            <col style="width:30%">
                            <col style="width:30%">
                            <thead style="color: rgb(67, 30, 201);background-color: rgb(230, 69, 77);">
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Topic</th>
                                    <th scope="col">Download document</th>
                                    <th scope="col">Video</th>
                                    <th scope="col">Youtube links</th>
                                </tr>
                            </thead>
                            <tbody style="background-color: rgb(131, 187, 224);">
                                {{#if notes}}
                                {{#each notes}}
                                <tr>
                                    <td style="color: rgb(236, 6, 6);">{{this.date}}</td>
                                    <td style="color: rgb(236, 6, 6);">{{notes.Topic}}</td>
                                    <td><a href='/documents/{{this._id}}.pdf' type='application/pdf' style="color: red;"
                                            download="{{notes.Topic}}"><i class="fa fa-file-pdf-o fa-lg"
                                                aria-hidden="true"></i></a></td>
                                    <td><video width="170" height="135" controls
                                            onended="registerAttendance('{{this.date}}')">
                                            <source src="/videos/{{this._id}}.mp4">
                                        </video></td>
                                    <td><a href="{{notes.Link}}" style="color: rgb(236, 6, 6);">To learn more click
                                            here</a></td>
                                </tr>
                                {{/each}}
                                {{else}}
                                <tr>
                                    <td colspan="5">
                                        No notes found
                                    </td>
                                </tr>
                                {{/if}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>